.topBar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fafafa;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.headerTitle {
  font-size: 2rem;
  font-weight: 800;
  color: #000;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  padding: 1.5rem 0;
}

.addButton {
  margin: 0;
  padding: 0;
  color: #000;
  background: none;
  border: 2px solid #000;
  font-size: 2rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  transition: all 0.2s ease;
}
  
.addButton:hover {
  background-color: #000;
  color: #fff;
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0 #ff4b4b;
}

.loginButton2 {
  margin: 0;
  padding: 0;
  color: #9c9c9c;
  background: none;
  border: none;
  font-size: 2.5rem;
  line-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 50%;
}

.loginButton2:hover {
  color: #000000;
  transform: translate(-2px, -2px);
}

.friendsButton {
  margin: 0;
  padding: 0;
  color: #9c9c9c;
  background: none;
  border: none;
  font-size: 2.2rem;
  line-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 50%;
}

.friendsButton:hover {
  color: #000000;
  transform: translate(-2px, -2px);
}