.statusOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.status {
    background: #ffffff;
    border-radius: 8px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    position: relative;
    box-shadow: 6px 6px 0 #000;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header2 h2 {
    margin: 0;
    font-size: 1.6em;
    color: #333;
}

.header2 span {
  font-size: 0.6em;
  font-weight: normal;
}

.header1 button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
}

.header1 button:hover {
    color: #0056b3;
    transform: scale(1.1);
}

.body {
    text-align: center;
}

.body h3 {
    margin: 0;
    font-size: 1.2em;
}

.circles {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #333;
}

.circle span {
  font-weight: bold;
  font-size: 1.2em;
}

.circle p {
  margin: 0;
  font-size: 0.8em;
  color: #666;
}

.goalSection {
  padding: 1.5rem;
  border-radius: 12px;
  margin: 1.5rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #666;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.goalSection p {
  margin: 0.1rem 0;
  font-size: 1rem;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}