.statusOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.status {
    background: #ffffff;
    border-radius: 8px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    position: relative;
    box-shadow: 6px 6px 0 #000;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header2 h2 {
    margin: 0;
    font-size: 1.6em;
}

.header2 span {
  font-size: 0.6em;
  font-weight: normal;
}

.header1 button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
}

.header1 button:hover {
    color: #ff4b4b;
    transform: scale(1.3);
}

.body {
    text-align: center;
}

.body h3 {
    margin: 0;
    font-size: 1.2em;
}

.circles {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #d1cfcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #000000;
  cursor: pointer;
}

.circle:hover {
  background-color: #f9ecec;
  transform: scale(1.1);
  box-shadow: 4px 4px 0 #ff4b4b;
}

.circle span {
  font-weight: bold;
  font-size: 1.2em;
}

.circle p {
  margin: 0;
  font-size: 0.8em;
  color: #666;
}

.goalSection {
  padding: 1.5rem;
  border-radius: 12px;
  margin: 1.5rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #666;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.goalSection p {
  margin: 0.1rem 0;
  font-size: 1rem;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}

.table {
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table thead {
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: #666;
}

.table td {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.9rem;
  text-align: center;
}

.table tr {
  position: relative;
}

.table tr:hover {
  background-color: #f9ecec;
}

.table tr:hover .deleteButton {
  opacity: 1;
}

.deleteButton {
  opacity: 0;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: 1.7px solid #ff4b4b;
  color: #ff4b4b;
  border-radius: 30%;
  cursor: pointer;
  font-size: 0.8rem;
  transition: opacity 0.2s ease;
}

.deleteButton:hover {
  color: #ff0000;
}

.chart {
  margin-top: 2rem;
}

.noHover {
  pointer-events: none;
}